.barra {
    margin-top: -16px;
    height: 350px;
    width: 100%;
    border-radius: 3px;
    color: $color-texto;
    box-shadow: 3px 3px 3px $color-texto_2;
    background-image: url('/img/fondo3.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
   
    &__opciones {
        height: 100%;
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;
        align-items: center;
        @include mobile{
            display: grid;
            grid-template-columns: repeat(2,1fr);

        }
        a{
            text-decoration: none;
        }

        &__item {
            @include mobile{
                font-size: 1rem;
                width: 150px;
            }
            line-height: 2rem;
            background-color: $color-texto_2;
            font-size: 1.6rem;
            color: $color-texto;
            width: 250px;
            height: 70px;
            border: 2px solid lime;
            border-radius: 10px;
            box-shadow: 7px 7px $color-texto_2;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            font-weight: bolder;
            transition: transform 0.8s;

            &:hover {
                transform: rotateX(-350deg);
                text-shadow: -6px -6px 6px rgb(0, 0, 0);
            }
        }
    }
}