.contenedor {
    display: grid;
    grid-template-columns: repeat(4, 300px);
    place-items: center;
    place-content: center;
    gap: 10px 30px;
    margin-top: 10px;
    @include mobile{
        grid-template-columns: 1fr;
    }
    @media screen  and(min-width:360px) and (orientation:landscape){
        grid-template-columns: repeat(2,1fr);
    }
    @include tablet{
        grid-template-columns: repeat(2,1fr);
    }
    @include laptop{
        display: grid;
        grid-template-columns: repeat(4, 300px);
        place-items: center;
        place-content: center;
        gap: 10px 30px;
        margin-top: 10px;
    }
}

.card {
    background-color: #000;
    color: #fff;
    cursor: pointer;
}

.info {
    text-decoration: underline;
    cursor: pointer;
    color: lime;
    margin-bottom: 5px;
    font-size: 1.1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}