.table{
    width: 100%;
    border-radius: 7px;
    //background-color: #666;
    color: #fff;
    font-size: 1.3rem;
    border-collapse: collapse;
}
.table__title{
    height: 60px;
    background-color: #0e7900;
    font-weight: bolder;
    color: #fff;
}
table{
    width: 100%;
}
tr{
    background-color: #222227;
    color: #fff;
}
tr:nth-child(even){
    background-color: #8d8787;
    color: #fff;
}


th,td{
    border: 1px solid #eee;
    text-align: center;
}

td img{
    max-width: 100%;
    object-fit: contain;
    display: block;
    margin: auto;
}
th{
    font-size: 1.2rem;
    line-height: 2rem;
    cursor: pointer;
}