$color-Nav:#637074;
$color-texto:#fff;
$color-texto_2:#212227;
$color-Nav2:royalblue;
$color-hover:#ffff00;

body{
    margin: 0;
    padding: 0;
}
img{
    max-width: 100%;
    object-fit: cover;
}
.header{
    line-height: 4rem;
    color:$color-texto;
    font-size: 1.8rem;
}
.navbar{
     background-color:$color-Nav2;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    & a{
        text-decoration: none;
        color: $color-texto;
        transition: transform 0.4s ease-in;
        &:hover{
            color:$color-hover;
            text-shadow: -7px -7px 4px #000;
            transform: rotateY(180deg);
        }
    }
}
.buscar{
    margin-left: 10px;
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    &__rangos{
        height: 30px;
        width: 100px;
        background-color: $color-texto_2;
        color: $color-texto;
        font-size: 1.2rem;
        & option{
            background-color: $color-texto_2;
            color: $color-texto;
        }
    }
&__input{
    line-height: 1.4rem;
    margin-bottom: 5px;
    margin-right: 5px;
    width: 60%;
    border: none;
    outline: none;
    border-bottom: 1px solid $color-texto_2;
    font-size: 1.5rem;
    background-color: $color-texto_2;
    color: $color-texto;
    border-radius: 20px;
    transition: width 0.4s;
    &:focus{
        width: 80%;
    }
}
.fab{
    font-size: 2rem;
    color: $color-texto_2;
    }
}
.barra{
    margin-top: -16px;
    height: 500px;
    width: 100%;
    border-radius: 3px;
    color: $color-texto;
    box-shadow: 3px 3px 3px $color-texto_2;
    background-image: url('/img/fondo.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    &__opciones{
        height: 100%;
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        &__item{
            line-height: 2rem;
            background-color: #fff;
            font-size: 2rem;
            color: #000;
            width: 250px;
            height: 70px;
            border: 2px solid #ff0000;
            border-radius: 10px;
            box-shadow: 7px 7px  $color-texto_2;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            font-weight: bolder;
            transition: transform 0.8s;
            &:hover{
                transform: rotateX(-350deg);
                text-shadow: -6px -6px 6px #239dd6;
            }
        }
    }
}

.contenedor{
    display: grid;
    grid-template-columns: repeat(4,300px);
    place-items: center;
    place-content: center;
    gap: 10px 30px;
    margin-top: 10px;
}
.card{
    background-color: #585050;
    color: #fff;
}

